header.header
  a.inner-logo(href="#")
    | Admin
  .inner-wrap 
    .inner-notify 
      img(src="assets/images/icon-bell.svg", alt="")
      span 10
    .inner-account 
      img(src="assets/images/messi.jpg", alt="")
      .inner-text 
        .inner-name Lionel Messi
        .inner-role Admin
    button.inner-button-menu 
      <i class="fa-solid fa-bars"></i>
