nav.sider
  ul.inner-menu 
    li 
      a(href="#" class="active") <i class="fa-solid fa-gauge-high"></i> Quản lý học kỳ
    li 
      a(href="#") <i class="fa-solid fa-table-cells-large"></i> Quản lý môn học
    hr
    ul.inner-menu 
    li 
      a(href="#") <i class="fa-solid fa-gear"></i> Cài đặt chung
    li 
      a(href="#") <i class="fa-solid fa-user-gear"></i> Thông tin cá nhân
    li 
      a.inner-logout(href="#") <i class="fa-solid fa-power-off"></i> Đăng xuất
