nav.sider
  ul.inner-menu 
    li 
      a(href="dashboard.html" ) <i class="fa-solid fa-archway"></i> Tổng quan
    li 
      a(href="learning-progress.html" ) <i class="fa-solid fa-gauge-high"></i> Theo dõi tiến độ học tập
    li 
      a(href="expected-graduate.html" ) <i class="fa-solid fa-user-graduate"></i> Dự kiến tốt nghiệp
    li 
      a(href="missing-subjects.html" class="active") <i class="fa-solid fa-book-open"></i> Các môn học còn thiếu
    li 
      a(href="predict-grade.html") <i class="fa-solid fa-lightbulb"></i> Dự đoán điểm
    hr
    ul.inner-menu 
    li 
      a(href="settings.html") <i class="fa-solid fa-gear"></i> Cài đặt chung
    li 
      a(href="profile.html") <i class="fa-solid fa-user-gear"></i> Thông tin cá nhân
    li 
      a.inner-logout(href="#") <i class="fa-solid fa-power-off"></i> Đăng xuất
