@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
  --color-main: #4880FF;
  --color-text:#202224;
}

* {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

input, button, select, textarea {
  outline: none;
}

/* Page Account */
.page-account {
  background-image: url(../images/bg-account.svg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 50px;
}

.page-account .inner-form {
  border: 0.3px solid #B9B9B9;
  background-color: #FFFFFF;
  width: 630px;
  border-radius: 24px;
  margin: 0 auto;
  padding: 90px 57px;
}

.page-account .inner-form .inner-title {
  font-weight: 700;
  font-size: 32px;
  color: var(--color-text);
  margin-bottom: 15px;
  text-align: center;
}

.page-account .inner-form .inner-desc {
  font-weight: 600;
  font-size: 18px;
  color: var(--color-text);
  margin-bottom: 40px;
  text-align: center;
  opacity: 0.8;
}

.page-account .inner-form form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}

.page-account .inner-form form .inner-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.page-account .inner-form form .inner-group .inner-label {
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  color: var(--color-text);
}

.page-account .inner-form form .inner-group .inner-control {
  height: 56px;
  border: 1px solid #D8D8D8;
  background-color: #F1F4F9;
  border-radius: 8px;
  padding: 0 16px;
  font-weight: 600;
  font-size: 18px;
  color: var(--color-text);
  width: 100%;
}

.page-account .inner-form form .inner-group .inner-control::placeholder {
  color: #A6A6A6;
}

.page-account .inner-form form .inner-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-account .inner-form form .inner-meta .inner-link {
  font-weight: 600;
  font-size: 18px;
  opacity: 0.6;
  color: var(--color-text);
}

.page-account .inner-form form .inner-meta .inner-link:hover {
  color: var(--color-main);
  opacity: 1;
}

.page-account .inner-form form .inner-button {
  width: 100%;
  height: 56px;
  background-color: var(--color-main);
  border-radius: 8px;
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

.page-account .inner-form form .inner-button:hover {
  opacity: 1;
}

.page-account .inner-form .inner-more {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.page-account .inner-form .inner-more span {
  font-weight: 600;
  font-size: 18px;
  opacity: 0.65;
  color: var(--color-text);
}

.page-account .inner-form .inner-more a {
  font-weight: 700;
  font-size: 18px;
  color: #5A8CFF;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .page-account .inner-form {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .page-account .inner-form {
    width: 90%;
    border-radius: 12px;
    padding: 20px 15px;
  }

  .page-account .inner-form .inner-title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .page-account .inner-form .inner-desc {
    font-size: 14px;
    margin-bottom: 25px;
  }

  .page-account .inner-form form .inner-group {
    gap: 5px;
  }

  .page-account .inner-form form .inner-group .inner-label {
    font-size: 14px;
  }

  .page-account .inner-form form .inner-group .inner-control {
    height: 46px;
    font-size: 14px;
  }

  .page-account .inner-form form .inner-meta .inner-link {
    font-size: 14px;
  }

  .page-account .inner-form form .inner-button {
    height: 46px;
    font-size: 14px;
  }

  .page-account .inner-form .inner-more span {
    font-size: 14px;
  }

  .page-account .inner-form .inner-more a {
    font-size: 14px;
  }
}
/* End Page Account */

/* checkbox-wrapper-28 */
.checkbox-wrapper-28 {
  --size: 24px;
  position: relative;
}

.checkbox-wrapper-28 *,
.checkbox-wrapper-28 *:before,
.checkbox-wrapper-28 *:after {
  box-sizing: border-box;
}

.checkbox-wrapper-28 .promoted-input-checkbox {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.checkbox-wrapper-28 input:checked ~ svg {
  height: calc(var(--size) * 0.6);
  -webkit-animation: draw-checkbox-28 ease-in-out 0.2s forwards;
          animation: draw-checkbox-28 ease-in-out 0.2s forwards;
}
.checkbox-wrapper-28 label:active::after {
  background-color: #e6e6e6;
}
.checkbox-wrapper-28 label {
  font-weight: 600;
  font-size: 18px;
  opacity: 0.6;
  color: var(--color-text);
  cursor: pointer;
}
.checkbox-wrapper-28 label:after {
  content: "";
  height: var(--size);
  width: var(--size);
  margin-right: 12px;
  float: left;
  border: 0.6px solid #A3A3A3;
  border-radius: 6px;
  transition: 0.15s all ease-out;
}
.checkbox-wrapper-28 svg {
  stroke: #656565;
  stroke-width: 3px;
  height: 0;
  width: calc(var(--size) * 0.6);
  position: absolute;
  left: calc(var(--size) * 0.21);
  top: calc(var(--size) * 0.2);
  stroke-dasharray: 33;
}

@-webkit-keyframes draw-checkbox-28 {
  0% {
    stroke-dashoffset: 33;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes draw-checkbox-28 {
  0% {
    stroke-dashoffset: 33;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@media (max-width: 576px) {
  .checkbox-wrapper-28 {
    --size: 20px;
  }

  .checkbox-wrapper-28 label {
    font-size: 14px;
  }
}
/* End checkbox-wrapper-28 */

/* Header  */
.header {
  background-color: #FFFFFF;
  border-bottom: 1px solid #E0E0E0;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: flex;
}

.header .inner-logo {
  font-weight: 800;
  font-size: 24px;
  cursor: pointer;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-main);
}

.header .inner-wrap {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  padding-right: 30px;
}

.header .inner-notify {
  position: relative;
}

.header .inner-notify img {
  width: 24px;
  height: auto;
  text-align: center;
}

.header .inner-notify span{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  height: 16px;
  font-weight: 700;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #F93C65;
  border-radius: 50%;
  position: absolute;
  top: -6px;
  right: -5px;
}

.header .inner-account {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header .inner-account img {
  width: 44px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}

.header .inner-account .inner-text .inner-name {
  font-weight: 700;
  font-size: 14px;
  color: #404040;
  margin-bottom: 3px;
}

.header .inner-account .inner-text .inner-role {
  font-weight: 600;
  font-size: 12px;
  color: #565656;
}
/* End Header  */

/* Sider  */
.sider {
  background-color: #FFFFFF;
  width: 240px;
  border-right: 1px solid #E0E0E0;
  min-height: calc(100vh - 70px);
  position: fixed;
  top: 70px;
  left: 0;
  overflow-y: auto;
}

.sider .inner-menu {
  list-style: none;
  padding: 0;
  margin: 16px 0;
}

.sider .inner-menu a {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0 10px 0 24px;
  padding: 12px 16px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  color: var(--color-text);
  position: relative;
  cursor: pointer;
}

.sider .inner-menu a::before {
  content: "";
  width: 9px;
  height: 100%;
  display: inline-block;
  background-color: transparent;
  position: absolute;
  left: -28.5px;
  top: 0;
  border-radius: 4px;
}

.sider .inner-menu a.active::before, .sider .inner-menu a:hover::before{
  background-color: var(--color-main);
}

.sider .inner-menu a.active, .sider .inner-menu a:hover {
  background-color: var(--color-main);
  color: #FFFFFF;
}

.sider .inner-menu a.inner-logout {
  color: #F93C65;
}

.sider hr {
  border: 0.6px solid #E0E0E0;
  margin: 0;
}
/* End Sider  */

/* Main  */
.main {
  background-color: #F5F6FA;
  width: calc(100% - 240px);
  height: calc(100vh - 70px);
  position: absolute;
  top: 70px;
  left: 240px;
  padding: 30px;
}
/* End Main  */

/* Box Title  */
.box-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 32px;
  color: var(--color-text);
}
/* End Box Title  */
