extends ../layouts/default.pug

block title 
  title Tổng quan

block main
  .box-title Tổng quan

  //- Section 1
  .section-1 
    .inner-item 
      .inner-icon 
        <i class="fa-solid fa-users"></i>
      .inner-text 
        .inner-title Tổng số sinh viên
        .inner-number 3.600
    .inner-item 
      .inner-icon 
        <i class="fa-solid fa-percent"></i>
      .inner-text 
        .inner-title Tỷ lệ sinh viên đủ điều kiện tốt nghiệp
        .inner-number 65%
    .inner-item 
      .inner-icon 
        <i class="fa-solid fa-book"></i>
      .inner-text 
        .inner-title Số lượng môn học đang mở
        .inner-number 45
    .inner-item 
      .inner-icon 
        <i class="fa-solid fa-circle-exclamation"></i>
      .inner-text 
        .inner-title Cảnh báo học vụ
        .inner-number 12
  //- End Section 1
