extends ../layouts/default.pug

block title 
  title Theo dõi tiến độ học tập

block main
  .box-title Theo dõi tiến độ học tập

  //- Section 4
  .section-4 
    .inner-wrap 
      .inner-item 
        <i class="fa-solid fa-filter"></i>
        | Bộ lọc
      .inner-item
        select(name="")
          option(value="") MSSV
          option(value="") 3122411001
          option(value="") 3122411002
      .inner-item 
        select(name="")
          option(value="") Lớp
          option(value="") DCT122C1
          option(value="") DCT122C2
      .inner-item 
        select(name="")
          option(value="") Khoa
          option(value="") Công nghệ thông tin
          option(value="") Điện tử viễn thông
          option(value="") Sư phạm Anh
      .inner-item 
        select(name="")
          option(value="") Khoá
          option(value="") K22
          option(value="") K23 
          option(value="") K24
      .inner-item.inner-reset
        <i class="fa-solid fa-rotate-left"></i>
        | Xóa bộ lọc
  //- End Section 4

  
